# ── Server ────────────────────────────────────────────────
NODE_ENV=production
PORT=3001

# ── URLs ──────────────────────────────────────────────────
FRONTEND_URL=https://kaesstore.com
BACKEND_URL=https://api.kaesstore.com

# ── Database Neon──────────────────────────────────────────────
DATABASE_URL=postgresql://neondb_owner:npg_tBO8IkHYnq1T@ep-small-waterfall-acokjxjc-pooler.sa-east-1.aws.neon.tech/prisma_migrate_shadow_db_694c7a28-5a83-429c-98fd-901c7572cf8e?sslmode=require&channel_binding=require

# ── JWT ───────────────────────────────────────────────────
JWT_SECRET=1afdd2a92f925462787734cb646f6b4f53620d8c69582a62abfdc027330d476d82803f64c49774b3588f164e63b70fc410db3d85d22beb64ffea154065ca15f4
JWT_REFRESH_SECRET=25f542905b53e2bef2967303d1e02ad7752a40e643dacded1b6b2b0754d85262ca050e7d342b19ba1034373bc7cfa70dd3d8723feb228bde035ec670bbaa8d60


# ── Cloudinary ────────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=drulik9bg
CLOUDINARY_API_KEY=375731313326946
CLOUDINARY_API_SECRET=owZTudVQ2m5tE9aU9DOM_IDhrzg

# ── MercadoPago ───────────────────────────────────────────
MP_ACCESS_TOKEN=APP_USR-2011045656657263-050500-c7a73157cc0df344f7153bbae6e2c806-3333937011
MP_WEBHOOK_SECRET=cf85a581b5c06d8b33e286da7faa1fc78c6597cfe7e914743ad60efe88990f8c0a56499ed16efbbac73c918ed0ecd573f9a1c4bd1580913467499dbdaac061e4
MP_PUBLIC_KEY=APP_USR-8451592a-f822-47a6-bffb-74bcaae00136

# ── Wompi ─────────────────────────────────────────────────
WOMPI_ENV=production
WOMPI_PUBLIC_KEY=pub_prod_xxxxxxxxxxxxx
WOMPI_PRIVATE_KEY=prv_prod_xxxxxxxxxxxxx
WOMPI_WEBHOOK_SECRET=tu_webhook_secret_wompi

# ── Stripe ────────────────────────────────────────────────
STRIPE_SECRET_KEY=sk_live_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

# ── Email SMTP ────────────────────────────────────────────
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tuemail@gmail.com
SMTP_PASS=xxxxxxxxxxxxxxxx
SMTP_FROM_EMAIL=noreply@kaesstore.com